# Dependency directories
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

